@font-face {
    font-family: 'old_english_text_mtregular';
    src: url('old-webfont.woff2') format('woff2'),
         url('old-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color:white;
    font-family: "Segoe UI", sans-serif;
    
    cursor: pointer;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

a{ 
    color:black;
    text-decoration: none;
}
a:hover{

    color:#AAAAAA;
}
.aside_title{
    position:relative;
   font-weight: bold;
   font-size: 20px;
   left:16px;
   
}
#background{
    z-index:-1;
    position:absolute;
    width:100%;
    left: 0px;
    top:0px;
    height:60px;
    background: #FCFCFC;
    opacity: 0.8;


}

#header{
    z-index: 5;
    position: fixed;
    background-color: rgba(255,255, 255, 0.6);

    width: 100%;
    height:60px;
    top: 0;
    left:0;
    text-align: left;
}
#home_logo{  
    position: relative;
    font-size: 32px;   
    top: 8px;
    left : 32px;
    color : #333333;
    font-family: 'old_english_text_mtregular';
    
    
    
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    
    
}
#home_logo:hover{
    color: #666666;
}
.navbar_buttons{

    color:black;
    position: relative;   
    top:6px;
    left: 48px;
    font-size: 24px;
    padding-right:10px;
    padding-left:10px;   
    
    
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out

}
.navbar_buttons:visited{
    color: black;
}
.navbar_buttons:hover{  
    color:white;    
    background-color:#333333;
    border-color:#333333;
    border-radius:30px;
    padding-bottom:2px;
}

#search_button{
    position: relative;
    top:10px;
    left:16px;
}
#search_image{
    height: 24px;
    width:24px;
}
#search_button:hover{
    cursor:pointer;
}

#user{
    position:fixed;
    top: 8px;
    right: 8px;
    width:calc(50% - 150px);
    height: 48px;
}

#header_user_icon{
    position:absolute;
    top:6px;
    right:0px;
    height:32px;
}
#logout{
    position:absolute;
    top:20px;
    right:48px;    
}
#logout:hover{
    color:red;
}
#header_user_profile{
    position:absolute;
    top:4px;
    right:48px;    
}

#hideCat, #hideAuth{
    border-style: solid;
    border-radius: 50px;
    border-color: #666666;
    background-color : #FAFAFA;
    width:24px;
    height:24px;
    
}

#content{
    color:black;
    font-size: 2vh;
    position: relative;
    width: 50%;
    left: 25%;
    right:25%;
    top : 72px;
    height: calc(100% - 160px);

      -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

#querybox{ 
    visibility: hidden;
    width:200px;
    position:absolute;
    left: 64px;
    top:16px;
    background: linear-gradient( #FCFCFC,#EFEFEF);
    border-style:solid;
    border-width:2px;
    padding:4px;
    border-color: #EFEFEF;
    border-radius: 16px;
    
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

@media (max-width: 1024px){
    #content{
        top: 72px;
        width:60%;
        left:30%;
        right:10%;
    }
}

@media (max-width: 480px){

    #content{
        position: relative;
        
        width:90%;
        left:5%;
        right:5%;
    }
  
    #home_logo{
        font-size:0px;
    }
    .navbar_buttons{
        font-size:16px;
        top:12px;
        left:24px;
        padding:0px;
        
    }
    #search_button{
        top:16px;
    }
    #user{

        width: calc(100% - 300px);

    }
    #header_user_profile{
        position:absolute;
        top:0px;
        right:48px;    
    }
}

/*Accorgimenti per la versione mobile*/
@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0), (max-width:720) and (-webkit-min-device-pixel-ratio: 2.0){
    #content{
        position: relative;
        top: 140px;
        width:90%;
        left:5%;
        right:5%;
    }
    #home_logo{
        font-size:0px;
    }
    #header{

        height:128px;

    }
    #background{
        height:128px;
    }
    .navbar_buttons{
        left:-48px;
        top:24px;
        font-size:64px;
    }
    .navbar_buttons:hover{        
        border-radius:60px;        
    }

    #search_button{
        top:32px;
        left:24px;
        height:64px;
        width:64px;
    }
    #search_image{
        width:64px;
        height:64px;
    }
    #user{
        color:red;
        font-size:28px;
        top:28px;
        width: calc(100% - 300px);

    }
    #header_user_profile{
        position:absolute;
        top:4px;
        right:72px;    
    }
    #logout{
        top:32px;  
        right:72px;
    }
    #header_user_icon{
        top:4px;
        right:0px;
        height:64px;
    }
    
     #querybox{ 
           visibility:hidden;
        position:relative;
        width:50%;
        font-size:48px;
        border-radius:32px;
    }
   
}

