/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-apr-2018, 19.33.05
    Author     : lorec
*/

/*NEWS POSTS*/
.post{
    border-radius: 8px;
    position: relative;
    /*background: linear-gradient(#FCFCFC, #EFEFEF);   */
     background: linear-gradient(#FCFCFC,#EFEFEF);

     border-color: #EFEFEF;
     border-style: solid;
}
.post_author{
    color:black;
    position:absolute;
    left: 40px;
    top:3px;
}
.news_pic{
    position:relative;
    width:100%;
    top:8px;
    left:0px;
    z-index:2;
}
.post_user_icon{
    position: absolute;
    left:4px;
    top: 2px;
    width:28px;
}
.post_title{    
  
    text-align:center;
    border-style: none;
    font-size: 28px;
    color:black;
    position: relative;
    width: 100%;
    top:8px;
}
.post_content{
    font-size: 16px;
    text-align:center;
    color:black;
    position: relative;
    left:0px;
    top:8px;
    width: 100%;

}
.post_open{
    color:black;
    position: relative;
    left:16px;

}
.post_category{
    color:black;
    position: relative;
    left:16px;
    top:8px;


}
@media (max-width: 480px){
    .post{
        width:100%;
    }
}

@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0), (max-width:720) and (-webkit-min-device-pixel-ratio: 2.0){
    #content{        
        font-size:32px;
    }
    .post{
        font-size:32px;
    }
   
    .post_title{
        font-size: 64px;        
    }
    .post_user_icon{
        width:32px;
        height:32px;
        top:8px;
        left:8px;
    }
    .post_author{       
        left: 48px;
        top:6px;
        font-size:32px;
    }
    .post_content{
        font-size:42px;
    }
    .post_category{
        font-size:28px;
    }
    .post_open{
        font-size:28px;
    }
}
