body{
    background-color:white;
    font-family: "Segoe UI", sans-serif;
    cursor: pointer;
}

a{ 
    color:black;
    text-decoration: none;
}
a:hover{

    color:#AAAAAA;
}
#background{
    z-index:-1;
    position:absolute;
    width:100%;
    left: 0px;
    top:0px;
    height:60px;
    background: #FCFCFC;
    opacity: 0.8;


}
#header{
    z-index: 5;
    position: fixed;
    background-color: rgba(255,255, 255, 0.6);

    width: 100%;
    height:60px;
    top: 0;
    left:0;
    text-align: left;
}
#home_logo{  
    position: relative;
    font-size: 32px;   
    top: 8px;
    left : 32px;
    color : #333333;
    font-family: "Old English Text MT";
}
#home_logo:hover{
    color: #666666;
}
.navbar_buttons{

    color:black;
    position: relative;   
    top:6px;
    left: 48px;
    font-size: 24px;
    padding-right:10px;
    padding-left:10px;   

}
.navbar_buttons:visited{
    color: black;
}
.navbar_buttons:hover{  
    color:white;    
    background-color:#333333;
    border-color:#333333;
    border-radius:30px;
    padding-bottom:2px;
}

#search_button{
    position: relative;
    top:10px;
    left:16px;
}
#search_image{
    height: 24px;
    width:24px;
}
#search_button:hover{
    cursor:pointer;
}

#user{
    position:fixed;
    top: 8px;
    right: 8px;
    width:calc(50% - 150px);
    height: 48px;
}

#header_user_icon{
    position:absolute;
    top:6px;
    right:0px;
    height:32px;
}
#logout{
    position:absolute;
    top:20px;
    right:48px;    
}
#logout:hover{
    color:red;
}
#header_user_profile{
    position:absolute;
    top:4px;
    right:48px;    
}



#content{
    color:black;
    font-size: 2vh;
    position: relative;
    width: 50%;
    left: 25%;
    right:25%;
    top : 72px;
    height: calc(100% - 160px);

}

@media (max-width: 1024px){
    #content{
        top: 72px;
        width:60%;
        left:30%;
        right:10%;
    }
}

@media (max-width: 480px){

    #content{
        position: relative;
        top: 64px;
        width:90%;
        left:5%;
        right:5%;
    }
    #home_logo{
        font-size:0px;
    }
    .navbar_buttons{
        top:12px;
    }
    #search_button{
        top:16px;
    }
    #user{

        width: calc(100% - 300px);

    }
    #header_user_profile{
        position:absolute;
        top:0px;
        right:48px;    
    }
}

/*Accorgimenti per la versione mobile*/
@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0), (max-width:720) and (-webkit-min-device-pixel-ratio: 2.0){
    #content{
        position: relative;
        top: 140px;
        width:90%;
        left:5%;
        right:5%;
    }
    #home_logo{
        font-size:0px;
    }
    #header{

        height:128px;

    }
    #background{
        height:128px;
    }
    .navbar_buttons{
        top:24px;
        font-size:64px;
    }
    .navbar_buttons:hover{        
        border-radius:60px;        
    }

    #search_button{
        top:32px;
        left:24px;
        height:64px;
        width:64px;
    }
    #search_image{
        width:64px;
        height:64px;
    }
    #user{
        color:red;
        font-size:28px;
        top:28px;
        width: calc(100% - 300px);

    }
    #header_user_profile{
        position:absolute;
        top:4px;
        right:72px;    
    }
    #logout{
        top:32px;  
        right:72px;
    }
    #header_user_icon{
        top:4px;
        right:0px;
        height:64px;
    }
}

