<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>notizie.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>login.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notizia.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.NewsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notizie.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.Notizie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articoli.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scriviArticolo.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.NewArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilo.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerca.html</servlet-name>
        <servlet-class>it.lorenzoconcas.blog.servlet.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login.html</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notizia.html</servlet-name>
        <url-pattern>/notizia.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notizie.html</servlet-name>
        <url-pattern>/notizie.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>articoli.html</servlet-name>
        <url-pattern>/articoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scriviArticolo.html</servlet-name>
        <url-pattern>/scriviArticolo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilo.html</servlet-name>
        <url-pattern>/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerca.html</servlet-name>
        <url-pattern>/cerca.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
