/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-apr-2018, 17.08.57
    Author     : lorec
*/

#news{
    /* background: linear-gradient( #FCFCFC,#EFEFEF);*/
}
#content{
     background: linear-gradient( #FCFCFC,#EFEFEF);
    
}

#post_title{
    font-size:24px;
}
#author{
    position:absolute;
}
#news_pic{
    
    width:100%;

}
#post_user_icon{
    width:24px;
}
#news_core{
    width:100%;
   
    top: 8px;
    position:relative;
}
#post_title{
    position:relative;
    left:16px;
}
#post_category{
     position:relative;
    left:24px;
}
#post_content{
    position:relative;
    top:8px;
    left:24px;
}
#comment_section{
    position:relative;
    top:8px;
    left:24px;
}
#comment_username{
   position:relative;
   left:24px; 
}

#comment{
    position:relative;
   left:24px; 
}
#comment_area{
   position:relative;
  
 
   width:calc(100% - 48px);
}