/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-apr-2018, 19.33.05
    Author     : lorec
*/

/*NEWS POSTS*/
#post{
    border-radius: 1%;
    position: relative;
    background: linear-gradient(#FCFCFC, #EFEFEF);   
}
#post_author{
    color:black;
    position:absolute;
    left: 40px;
    top:3px;
}
#news_pic{
    position:relative;
    width:100%;
    top:8px;
    left:0px;
}
#post_user_icon{
    position: absolute;
    left:4px;
    top: 2px;
    width:28px;
}
#post_title{
    font-size: 28px;
    color:black;
    position: relative;
    left:16px;
    top:8px;
}
#post_content{
    font-size: 18px;
    color:black;
    position: relative;
    left:16px;
    width: calc(100% - 40px);

}
#post_open{
    color:black;
    position: relative;
    left:16px;

}
#post_category{
    color:black;
    position: relative;
    left:16px;


}


